extends _partials/_layout

block content
  .reveal
    .slides
      include _slides/01_FrontSlide
      include _slides/02_Content
      include _slides/03_Limitations
      include _slides/04_STN
      include _slides/05_Results
