section.left.fragments
  h2 Results
  ul
    li.fragment MNIST
    li.fragment Street View House Numbers
    li.fragment Fine-Grained Classification

section.left.fragments
  h3 MNIST - Setting
  ul
    li.fragment Baseline FCN with two hidden layers and a classification layer.
    li.fragment Baseline CNN with 
      ul 
        li 9 x 9 convolutional layer, 2 x 2 max-pooling layer 
        li 7 x 7 convolutional layer, 2 x 2 max-pooling layer 
        li classification layer
        li 32 - 64 filters per layer
    li.fragment All networks use softmax and ReLU

section.left.fragments
  h3 MNIST - Setting
  ul
    li.fragment All STNs are placed at the front of the network
    li.fragment STN localisation nets:
      ul
        li ST-FCN: 3 layers of 32 units
        li ST-CNN: two 20-filter 5 x 5 convolutional layers
        li 2 x 2 max-pooling 
        li FCN of 20 units
    li.fragment All networks contain the same no of learnable params ~ 400k

section.left.fragments
  h3 MNIST - Distorted
  img(src="/img/mnist_distorted.png")
  p.fragment Demonstrates resilience to distorsions
section.left.fragments
  h3 MNIST - Addition
  img(src="/img/mnist_addition.png")
  p.fragment Uses parallel STNs
  p.fragment Demonstrates the capacity to model multiple objects
section.left.fragments
  h3 MNIST Co-localisation
  ul
    li.fragment Given a set of images that are assumed to contain instances of a common but unknown object class, localise (with a bounding box) the common object.
    li.fragment Neither the object class labels, nor the object location ground truth is used for optimisation, only the set of images.
section.left
  h3 MNIST Co-localisation
  img(src="/img/mnist_colocalisation.png")
  ul
    li Encoding function $e()$ is a CNN trained with the distorted MNIST set 
    li Hinge loss to enforce the distance between two outputs of the ST to be less than the distance to a random crop 
section(data-background-video="/media/arxivSTmovie.m4v" data-background="#FFF")


section.left.fragments
  h3 Street View House Numbers
  ul
    li.fragment 200k training examples
    li.fragment Between 1 and 5 digits with large variability in size, position.
    li.fragment Baseline CNN with 11 hidden layers
section.left(data-background="#FFF")
  h3 Street View House Numbers
  img(src="/img/svhn.png")
  ul
    li STs crop and rescale the parts of the feature maps that correspond to the digit, focussing resolution and network capacity only on these areas


section.left.fragments
  h3 Fine-Grained Classification
  ul
    li.fragment CUB-200-2011 birds dataset
    li.fragment 6k training images and 5.8k test images, 200 classes
    li.fragment Baseline is a strong CNN - Inception architecture. Basis for GoogleNet
    li.fragment Pre-trained on ImageNet
    li.fragment 2 - 4 parallel STs parameterised for attention
section.left(data-background="#FFF")
  h3 Fine-Grained Classification
  img(src="/img/birds.png")


section.left.fragments
  h3 Bonus - Implementations
  ul
    li.fragment Torch team offers an implementation: 
      a(href="http://goo.gl/SJqr1U") http://goo.gl/SJqr1U
    li.fragment And Lasagne too: 
      a(href="https://goo.gl/zd50rI") https://goo.gl/zd50rI

section.left.fragments(data-background="#FFF")
  h3 Bonus
  ul
    li 39,209 train examples and 12,630 test ones
    li A single network with 3 convolutional layers and 2 fully connected layers + 2 spatial transformer layers 
    img(src="/media/epoch_evolution.gif")
    li.fragment Top result - 99.61% accuracy
