section.left.fragments
  h3 4. Final thoughts
  ul
    li.fragment STNs offer an efficient way of achieving spatial invariance...
    li.fragment ...but are somewhat limited in the number of objects they can focus on
    li.fragment The #[span.highlight attention] characteristic of the STNs is heavily promoted in the article. Can it be used on video?

section.left.fragments
  h3 4. Final #[span(style="text-decoration: line-through;") thoughts] speculations
  ul
    li.fragment STNs and their specialized modules provide a better approximation to the brain metaphor of localized processes?
    li.fragment DeepMind made progress in reinforcement learning and algorithmic neural networks. Where do STNs fit in the grand scheme? 

section(data-background="/img/hero.jpg")
  h2 Thank you!
