section.left
  h2.slide-title Testing MathJax support
  p The firing of
  | $ x_{ij} $ neuron is...

section.left
  h2 A more complex equation
  | $$ \eta_i^{(\tau+1)}=
  |   \begin{cases}
  |     \min(\rho\cdot \eta_i^{(\tau)}, \eta_{max}) & \text{if}\quad
  |     \frac{\partial E}{\partial w_i^{(\tau)}} \cdot \frac{\partial E}{\partial w_i^{(\tau-1)}} > 0 \\
  |     \max(\sigma\cdot \eta_i^{(\tau)}, \eta_{min}) & \text{if}\quad
  |     \frac{\partial E}{\partial w_i^{(\tau)}} \cdot \frac{\partial
  |       E}{\partial w_i^{(\tau-1)}} < 0
  |   \end{cases}  $$
